body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,233,147,0.7547668969931722) 94%, rgba(0,212,255,1) 100%);
}

.container{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 5rem;
    
}
#wrapper{
    border: 3px solid white;
    padding: 1rem;
}
.container span{
    margin-left: 10px;
}
#ampm{
    font-size: 3rem;
    align-items: end;
}